colorama>=0.4.6
requests>=2.31.0
dateparser>=1.2.0
websockets>=12.0
flask-restful>=0.3.10
unicorn-fy>=0.13.1
cheroot>=10.0.0
psutil>=5.9.8
pandas>=2.0.3
psycopg2-binary>=2.9.9
questdb>=1.1.0
pyarrow>=14.0.1
polars>=0.19.13
get-docker-secret>=2.0.0